<!--&lt;!&ndash;Pagination test&ndash;&gt;-->
<!--<html lang="en">-->
<!--    <head>-->
<!--        <meta charset="UTF-8">-->
<!--    </head>-->
<!--    <body>-->
<!--        {% for person in people %}-->
<!--            <p>{{ person.name }}'s number: {{ person.number }}.</p>-->
<!--        {% endfor %}-->

<!--        {% if book.has_prev %}-->
<!--            <a href="{{ url_for('index', page_number=book.page - 1) }}">Prev</a>-->
<!--        {% endif %}-->

<!--        {% for page in pages %}-->
<!--            {% if page != None %}-->
<!--                {% if page == book.page %}-->
<!--                    <a href="{{ url_for('index', page_number=page) }}" style="color: orange;">{{ page }}</a>-->
<!--                {% else %}-->
<!--                    <a href="{{ url_for('index', page_number=page) }}">{{ page }}</a>-->
<!--                {% endif %}-->
<!--            {% else %}-->
<!--                <a>...</a>-->
<!--            {% endif %}-->
<!--        {% endfor %}-->

<!--        {% if book.has_next %}-->
<!--            <a href="{{ url_for('index', page_number=book.page + 1) }}">Next</a>-->
<!--        {% endif %}-->
<!--    </body>-->
<!--</html>-->

<!--&lt;!&ndash;End of pagination test&ndash;&gt;-->